<!DOCTYPE html>
%html
  %head
    %title
      = full_title(page_title: yield(:title))
    = render 'layouts/rails_default'
  %body
    = render 'layouts/header'
    .container
      = yield
      = render 'layouts/footer'

